*.pyc
*.log
node_modules
coverage/
arches_perms6/logs
arches_perms6/export_deliverables
arches_perms6/cantaloupe/*
arches_perms6/staticfiles
arches_perms6/media/packages
arches_perms6/media/build/
arches_perms6/uploadedfiles/*
arches_perms6/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
